.menuItem {
  background-color: #2d3040;
  color: aliceblue;

  border-radius: 14px;
  border: 1px solid black;
  padding: 20px;
  width: 150px;
  height: 150px;
}

.menuCont {
  /* background-color: #f2ae2e; */
}

h3,
h4 {
  text-align: center;
  color: #4c6873;
  background-color: #d9d4cc;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
}

sub,
p {
  color: #4c6873;
}
.addItem {
  margin: 5%;
  color: red;
}
